@model AJ.Models.AJModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AJModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Montag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Montag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dienstag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dienstag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mittwoch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mittwoch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donnerstag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donnerstag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Freitag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Freitag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wochenrückblick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wochenrückblick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lupe_der_Woche)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lupe_der_Woche)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reflexion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reflexion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
