@model AJ.Models.AJModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AJModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Montag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Montag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dienstag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dienstag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mittwoch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mittwoch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donnerstag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donnerstag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Freitag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Freitag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wochenrückblick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wochenrückblick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lupe_der_Woche)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lupe_der_Woche)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reflexion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reflexion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
