@model IEnumerable<AJ.Models.AJModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Montag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dienstag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mittwoch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donnerstag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Freitag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wochenrückblick)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lupe_der_Woche)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reflexion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Montag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dienstag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mittwoch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donnerstag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Freitag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wochenrückblick)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lupe_der_Woche)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reflexion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
